<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <property name="driver_class" value="com.mysql.jdbc.Driver">
    </property>
    <property name="url" value="jdbc:mysql://localhost/kapyar">
    </property>
    <property name="username" value="admin">
    </property>
    <property name="password" value="admin">
    </property>

</hibernate-configuration>